<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rocky.mapper.FavoriteMapper">
  <resultMap id="BaseResultMap" type="com.rocky.pojo.Favorite">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="uid" jdbcType="BIGINT" property="uid" />
    <result column="vid" jdbcType="BIGINT" property="vid" />
    <result column="favorite_status" jdbcType="TINYINT" property="favoriteStatus" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>

  <update id="updateLike" >
    update favorite
    set favorite_status = 1
    where uid = #{uid} and vid = #{vid};
  </update>

  <update id="updateUnlike" >
    update favorite
    set favorite_status = 0
    where uid = #{uid} and vid = #{vid};
  </update>

  <select id="selectVIDByUID" resultType="java.lang.Long">
    select vid
    from favorite
    where uid = #{uid} and favorite_status = 1;
  </select>

  <select id="selectFavoriteCountByVID" resultType="java.lang.Long">
    select count(*)
    from favorite
    where vid = #{vid} and favorite_status = 1;
  </select>

  <select id="selectFavoriteByUIDAndVID" resultType="com.rocky.pojo.Favorite">
    select *
    from favorite
    where uid = #{uid} and vid = #{vid};
  </select>
</mapper>