<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rocky.mapper.MessageMapper">
  <resultMap id="BaseResultMap" type="com.rocky.pojo.Message">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="uid" jdbcType="BIGINT" property="uid" />
    <result column="vid" jdbcType="BIGINT" property="vid" />
    <result column="is_friend" jdbcType="TINYINT" property="isFriend" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="message_status" jdbcType="TINYINT" property="messageStatus" />
  </resultMap>

  <select id="findMessageByvidANDuid" resultType="com.rocky.pojo.Message">
    select *
    from message
    where ((vid=#{vid} and uid=#{uid} and message_status=0) or (vid=#{uid} and uid=#{vid} and message_status=0))
    and create_time &gt; #{pre_msg_time}
    order by create_time;
  </select>

</mapper>