<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.rocky.mapper.VideoMapper" >
  <resultMap id="BaseResultMap" type="com.rocky.pojo.Video" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="uid" property="uid" jdbcType="BIGINT" />
    <result column="play_url" property="play_url" jdbcType="VARCHAR" />
    <result column="cover_url" property="cover_url" jdbcType="VARCHAR" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="comments_count" property="comments_count" jdbcType="BIGINT" />
    <result column="favorite_count" property="favorite_count" jdbcType="BIGINT" />
    <result column="created_time" property="created_time" jdbcType="TIMESTAMP" />
    <result column="updated_time" property="updated_time" jdbcType="TIMESTAMP" />
  </resultMap>
</mapper>